*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #6b7280;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

header > h1 {
  font-size: 2.5rem;
  color: #e5e7eb;
}

.search-box > input {
  font-size: 1rem;
  background-color: #e5e7eb;
  padding: 6px;
  border: none;
  border-radius: 5px;
  outline-width: 1px;
}

.search-box > button {
  font-size: 1rem;
  font-weight: bold;
  color: #1f2937;
  background-color: #e5e7eb;
  padding: 6px 8px;
  border: none;
  border-radius: 5px;
}

.settings-container {
  font-size: 1rem;
  padding: 5px 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.settings-container select {
  font-size: 0.9rem;
  padding: 2px 5px;
  border-radius: 5px;
  outline: none;
}
